<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495712092902-pnve2cgnn0scf64vb3nrhh4qvvjljsds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495712092902-pnve2cgnn0scf64vb3nrhh4qvvjljsds</string>
	<key>API_KEY</key>
	<string>AIzaSyAN30WTVfaLbTYCU9yJcan-1CfWtEDSbv0</string>
	<key>GCM_SENDER_ID</key>
	<string>495712092902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>du.base.clean</string>
	<key>PROJECT_ID</key>
	<string>flutter-tdd-9df41</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tdd-9df41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495712092902:ios:c6280758a5f438e0807127</string>
</dict>
</plist>